#clockContainer {
    position: relative;
    margin: auto;
    border: 2px solid #3e37a0;
    height: 40vw;
    width: 40vw;
    /* background: linear-gradient(orange, white, green), url(clock.png); */
    /* opacity: .3; */
    background: linear-gradient(rgb(255 97 0 / 56%), rgb(252 252 252 / 56%), rgb(45 254 13 / 56%)), url(clock.png);
    z-index: 2;
    background-size: 100%;
    border-radius: 50%;
}

#clockContainer::before {
    content: '';
    position: relative;
    width: 6%;
    background: linear-gradient(red, yellow);
    height: 6%;
    display: flex;
    top: 47%;
    left: 47%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#hour,
#minute,
#second {
    position: absolute;
    /* background: rgb(71, 46, 46); */
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 23%;
    top: 27.4%;
    left: 48.99%;
    opacity: 0.8;
    background: tomato;
}

#minute {
    width: 1.5%;
    height: 28%;
    top: 22.35%;
    left: 49.2%;
    opacity: 0.8;
    background: rgb(167, 78, 63);
}

#second {
    width: .8%;
    height: 40%;
    top: 10.45%;
    left: 49.55%;
    opacity: 0.8;
    background: rgb(192, 151, 144);
}